/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/
*{
  color: #0c0c0c;
}

h1 {
  font-family: 'gaegu light';
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
}

h2, h3, h4, h5, h6 {
  font-family: 'andale mono';
  font-style:inherit;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
    /*=======  Font size'ı 30px yapın*/
}

/*======= Sayfadaki TÜM p tag'leri için aşağıdaki özellikleri içeren bir selector yaratın:
*/
p{
font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;
}

*/


/*======= Sayfadaki TÜM imajlar için aşağıdaki özellikleri içeren bir selector yaratın:
*/
img{
  border-radius: 10px;
}
*/

.content-row {
  padding-top: 3%;
}
.aperatif{
  margin-right: 5%;
  margin-left: 0! important;
}
.content-row div {
  margin: 5px;
  display: inline-block;
  width: 50%;
  margin-left: 5%;
  /*======= margin propery yaratın.  Değerini 20px olarak atayın*/
}
.content-row img {
  display: inline-block;
  width: 40%;
  border-radius: 10px
}

.container {
  margin: 0 auto;
  width: 750px;
  /*======= width property yaratın. Değerini 605px olarak atayın */
}

.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #E79947;
   /*======= background property yaratın. Değerini #E79947 olarak atayınız.*/
  
}

.container header nav a:hover {
  background: white;
  color: #E79947 ;
/*======= background property yaratın ve değeri white olsun.  Sonra, color property yaratın ve değerini yapın. */
}
.image1{
  width: 100%;
  background: #f5f5f5;
  padding: 1% 0;
}
.image1 img{
  width: 750px;
  border-radius: 10px
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  */
.about{
  margin-top: 20px;
}
*/

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}
.contact-section p{
  padding: 0! important;
  font-style:normal! important;
  margin: 8px;
}
/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
*/
.container address {
   line-height: 2;
}

footer {
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;
}

footer .footer-content { 
  margin: 0 auto; 
  width: 605px;
  /*======= width property yaratın. Değerini 605px olarak atayın */
  
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
  font-family: 'gaegu light';
}

footer nav {
  display: flex;
}

/*======= Footer'daki anchor tag için aşağıdaki stilleri içeren bir selector yaratın:
*/
footer nav a{
  margin: 10px;
  color: black;
  text-decoration: underline;
}


footer nav a:first-child {
  margin-left: 0;
}

/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:

 footer nav a{
  color: white;
 }
 */

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
   /*======= metni ortalayacak kodu yazın */
}
